html {
    margin : 0;
    padding : 0;
    height : 100%;
    width : 100%;
}
header h1{
    background-image: url(cwork.jpeg);
    position: center;
    position: top;
}


.page-wrapper {
    background-image: url(main_paper.jpg);
    background-size: contain;
    background-blend-mode: multiply;
    width : 550px;
    margin-right : auto;
    margin-left : auto;
    margin-top : 20px;
    padding-top: 40px;
    z-index : 4;
    position : relative;
}
.sidebar {
    background-image : url(paper.jpg);
    background-repeat : repeat-y;
    background-position : top;
    width : 300px;
    position : absolute;
    top : 300px;
    margin-left : 600px;
    font-family : Georgia, "Times New Roman", Times, serif;
    font-size : 1em;
}
.sidebar ul {
    margin-left : 40px;
    padding-left : 15px;
    padding-bottom: 25px;
    list-style-image : url(gear.png);
    list-style-position : outside;

}
.sidebar li {
    line-height : 120%;
    margin-right: 20px;
}
