html {
    margin : 0;
    padding : 0;
    height : 100%;
    width : 100%;
    background-image:
}
body{
    background-image: url(ship.gif);
    background-position: top;
    background-position: center,;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #3E2513;
}


.intro{
    font-family: Gabriele Dark Ribbon FG, Ariel;
    position: center;
    position: top;
    text-align: center;

}

h2{
    text-align: center;
    font-family: Gabriele Dark Ribbon FG, Ariel;
}
h3{
    text-align: center;
    font-family: Gabriele Dark Ribbon FG, Ariel;

}


p{
    text-align: center;
    font-family: Gabriele Dark Ribbon FG, Ariel;
}

a:link {
    font-weight : bold;
    font-family: Type Keys, Ariel;
    color : #075E7B;
    text-decoration : none;
}
.page-wrapper {
    background-image: url(page.jpg);
    background-size: cover;
    background-blend-mode: lighten;
    width : 650px;
    margin-right : auto;
    margin-left : auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top : 640px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index:auto;
    position : center;
}
.sidebar {
    background-image : url(page.jpg);
    background-size: cover;
    width : 300px;
    position : absolute;
    top : 740px;
    margin-left : 700px;
    font-family : Gabriele Dark Ribbon FG,Ariel;
    font-size : 1em;
}
.sidebar ul {
    margin-left : 40px;
    padding-left : 15px;
    padding-bottom: 25px;
    list-style-image : url(gear.png);
    list-style-position : outside;

}
footer {
  padding: 0.8rem;
  background-image : url(page.jpg);
  margin-left: 700px;
  width: 275px;
  position: absolute;
  top: 1900px;
}
.extra2{
    background-repeat: repeat;
}
